# Entorno virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Datos (opcional, recomendado)
data/raw/
data/processed/

# Jupyter (por si luego usas notebooks)
.ipynb_checkpoints/

# VS Code
.vscode/

# Pytest
.pytest_cache/
